* {
    padding:0px;
    margin:0px;
}

.top-banner {
    text-align: center;
    padding:15px;
}

.history {
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
}

#jsButton {
    border-radius: 10px;
    width: 20px;
    background-color: darkred;
    color:white;
    margin: 6px;
}

#saveBtn {
    background-color: lightgreen;
    border-radius: 10px;
    font-size: 20px;
    padding: -20px;
    margin: 15px;
}


.search-button {
    padding-right:25%;
    
}

.results-container {
    font-size:40px ;
    width:80%;
    align-items: center;
}

.search-results {
    border-radius: 10px;
}

.jokes {
    margin-top: 100px;
}

.jokes-btn {
    margin-left: 50px;
    border-radius: 10px;
}



#buttonOne{
    border-radius: 10px;
    color: white;
    background-color: black;
}

#JokeBtn {
    border-radius: 30px;
}

#best-jokes {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#songInput {
    border-radius: 3px;
}


#firstForm {
    text-align: center;
}

#savedSongs {
    color:white;
} 

.hidden {
    display: none;
} 