/* * {
    background-color: rgb(216, 188, 242);
}

#buttonOne {
    border-radius: 10px;
    color: white;
    background-color: black;
}

#songInput {
    border-radius: 3px;
}

h1 {
    text-decoration:overline underline dotted;
}

#firstForm {
    text-align: center;
}

h2 {
    text-decoration: underline;
} */

/* #savedSongs {
    background-color: blueviolet;
} */

/* .hidden {
    display: none;
} */